@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
/****************************************************
* Stylesheet
* 1.general
* 2.layout
* 3.template
* 4.content
* 5.Smartphone
* ※The breakpoint is 768 pixel, so please change it according to the site
****************************************************/

/****************************************************
 * Stylesheet
 ****************************************************/
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
     display: block;
 }
 body {
     line-height: 1;
 }
 ol, ul {
     list-style: none;
 }
 blockquote, q {
     quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
     content: '';
     content: none;
 }
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 *, *::before, 
 *::after {
     box-sizing: border-box;
 }
 img {
     max-width: 100%;
 }

/****************************************************
* 1.GENERAL
****************************************************/

html {
	font-size: 10px;
	font-family: "Noto Sans JP";
	margin: 0;
	padding: 0;
}

body {
    font-size: 1.6rem;
	margin: 0;
	padding: 0;
	color: #333333;
	background-color: #ffffff;
}
.container {
    width: 1240px;
    margin: 0 auto;
}

a {
	text-decoration: none;
	transition: all 0.3s;
}
a:hover {
	opacity: 0.7;
	cursor: pointer;
}

/****************************************************
  * HEADER TEMPLATE SETTING
  ****************************************************/
  .header .header-top {
      padding: 1rem 0;
      border-bottom: 1px solid #cccccc;
}
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header.activer {
	background-color: #118ab2;
}

.header-top .header-call {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #333333;
    font-weight: 500;
}
.header .header-call span {
    font-size: 2rem;
    color: #3a86ff;
    padding-left: 1.5rem;
    font-weight: 500;
}

.header-gnav .gnav-list{
    display: flex;
    align-items: center;
}

.header-gnav .gnav-item{
    padding: 2rem 1.5rem;
    border-right: 1px solid #cccccc;
}

.header-gnav .gnav-item a {
    font-size: 1.5rem;
    text-align: left;
    color: #333333;
    transition: all 0.3s;
    text-transform: uppercase;
}
.header-bottom .header-social{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-bottom .header-social li:nth-child(2){
   padding: 0 1rem;
}

/****************************************************
* BANNER ON PC
****************************************************/
.banner .banner-list{
	display: block;
    padding: 7rem 0 7rem;
}
.banner .banner-item {
	display: inline-block;
}
.banner .banner-item ,
.banner  .banner-item  a{
    position: relative ;
	font-size: 1.6rem;
    line-height: 1.33;
	text-decoration: none;
	color: #000000;

}

.banner  .banner-item :first-child::after{
    content: '/';
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 4px 15px;
    font-size: 1.6rem;
  
}

/****************************************************
* cart TEMPLATE ON PC
****************************************************/
.cart {
    border: 1px solid #cccccc;
    width: 300px;
    padding-bottom: 30px;
}
.cart-img{
    width: 300px;
    height: auto;
}
.cart-body{
    padding: 20px;
}
.cart-title{
    font-size: 1.8rem;
    font-weight: 500;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 0px 20px;
}
.cart-text{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.2;
    color: #333333;
    text-align: justify;
}
.cart-button{
    color: #ffffff;
    font-size: 1.5rem;
    background-color: #48cae4;
   text-transform: uppercase;
   padding:10px;
   border: none;
   margin-top: 20px;  
}
.content_cart{
    margin-bottom: 30px;
}