
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
  }
  @mixin box-shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
  }
  @mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
  @mixin transform($value) {
    -ms-transform: $value;
    -webkit-transform: $value;
    transform: $value;
  }
  @mixin transformX($transition) {
    -ms-transform: translateX($transition);
    -webkit-transform: translateX($transition);
    transform: translateX($transition);
  }
  @mixin transformY($transition) {
    -ms-transform: translateY($transition);
    -webkit-transform: translateY($transition);
    transform: translateY($transition);
  }
  @mixin opacity($opacity) {
    -webkit-opacity: $opacity;
    -moz-opacity: $opacity;
    opacity: $opacity;
  }